<% if @story.errors.any? %>
<div class="form_errors" >
  <h3>Errors</h3>
  <ul>
    <% @story.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
</div>
 <% end %> 
<%= form_for @story, data: {turbo:false} do |f| %>
  <div>
    <p>
    <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>

  <div>
    <p>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </p>
  </div>
  <%= f.submit %>
<% end %>