<!DOCTYPE html>
<html>
  <head>
    <title>Dudeit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="content"> 
      <h1>Dudeit</h1>
      <% unless flash[:notice].blank? %>
        <div id="notification"> <%= flash[:notice] %> </div>
      <% end %>
    <%= yield %>
  </body>
</html>
